# List Slicing

In [3]:
my_students =  ['harish', 'suresh','bhavitha', 'ramya', 'praveen', 'sravan' ]
my_students

['harish', 'suresh', 'bhavitha', 'ramya', 'praveen', 'sravan']

In [4]:
type(my_students)

list

In [ ]:
#Req Needs take alternative values from list

In [5]:
print(my_students[0:3])

['harish', 'suresh', 'bhavitha']

In [6]:
print(my_students[3:5])

['ramya', 'praveen']

In [ ]:
#Using Slicing Step Count

In [7]:
print(my_students[0:6:1])

['harish', 'suresh', 'bhavitha', 'ramya', 'praveen', 'sravan']

In [15]:
print(my_students[0:6:2])

['harish', 'bhavitha', 'praveen']

## Tuple Data Type

In [ ]:
#Tuple is immutable and declared by() symbol

In [17]:
dimessions = (150, 25)
dimessions

(150, 25)

In [19]:
dimessions[0] = 75

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Note: Asper above error observation we can't change/modify value Because tupe is "immutable"

In [21]:
dimessions = (200, 50)
dimessions

(200, 50)

In [ ]:
#Accessing elements from 'tuple'

In [22]:
dimessions[0]

200

In [23]:
dimessions[1]

50

In [26]:
print("Thanks for the class and Its Day 8th class")

Thanks for the class and Its Day 8th class